<h1>Hello, my name is Sean Corcoran.</h1>
<p>Google me.  I am the first image result.  The less interesting Sean Corcoran from Marietta, GA is way down the results page.  It's because he is not nearly as important as the other 46 Sean Corcoran's before him.  It's actually embarassing that his name is the same as mine.</p>
<img src="/assets/sean_corcoran.jpg"
<b></b>
<p>Hit me up on Twitter @SeanSlamsPussy69</p>