<h1>Hi, my name is Jake.</h1>
<p>I will build the following features in 2 days:</p>
<ul>
  <li> Pins </li>
  <li> Layers </li>
  <li> Live Chat </li>
  <li> iPad sliders </li>
</ul>
<img src="https://pbs.twimg.com/profile_images/378800000157825804/801bb7c5c4c7ee1a60e0d6acf997fbd8.jpeg"/>
<b></b>
	<p>Suck it!</p>

<style type="text/css">
  p {
  font-size: 50px;
  font-color: red;
}
</style>